manifest {
    author = 'Angel Angelov'
    name = 'nxf-fastqc'
    description = 'A simple fastp-MultiQC pipeline'
    homePage = 'https://github.com/angelovangel/nxf-fastqc'
    nextflowVersion = '>=19.08'
}

profiles {
    
    conda {
        process.conda = "$baseDir/environment.yml"
    }
    
    docker {
        process.container = 'aangeloo/nxf-fastqc:latest'
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
    }

    test{
        params.readsdir = "$baseDir/testdata/"
    }

    test_ont{
        params.readsdir = "$baseDir/testdata-ont/"
        params.ontreads = true
        params.fqpattern = "*.fastq"
    }

    ont{
        params.ontreads = true
        params.fqpattern = "*.fastq"
    }

}