manifest {
    author = 'Angel Angelov'
    name = 'fastp'
    description = 'A simple fastp-MultiQC pipeline'
    homePage = 'https://github.com/angelovangel/nextflow-fastp'
    nextflowVersion = '>=19.08'
}

profiles {
    
    conda {
        process.conda = "$baseDir/environment.yml"
    }
    
    docker {
        process.container = 'aangeloo/fastp-multiqc:latest'
        docker.enabled = true
    }

    test{
        params.readsdir = "$baseDir/testdata/"
    }

}